/* стили пока не работают :( */

.btn-ask {
    margin: 0px 30px;
    background-color: green;
    border: 2px solid black;
    border-radius: 6px;
    color: white;
    width: 100px;
    height: 40px;
}  

.d-flex {
    width: auto;
    height: 40px;
    margin: 20px;
}  
.container {
    padding: 100px 15px 0;
}

.question {
    border: 2px solid gray;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 20px;
}
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 100%;
    height: auto; */
}

.user-info {
    color: aliceblue;
    padding: 10px 15px 0;
    width: 300px;
    height: 70px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border: 2px solid black;
    overflow: hidden;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 100%;
    height: auto; */
}

h1 {
    display: inline-block;
}

#hot {
    margin: 20px;
    vertical-align:auto;
}

.right-col {
    display: block;
    margin-left: 20px;
    margin-right: auto;
}



.tags {
    margin-right: 15px;
}

#django {
    color: green;
}

#MySQL {
    color: red;
}

#Firefox {
    color: rgb(255, 166, 0);
}

#python {
    color: red;
}

.tags a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.best-members {
    margin-top: 20px;
}

.members {
    display:inline;
}

/* .tags a:first-of-type {
    margin-left: 0;
}

.tags a:last-of-type {
    margin-right: 0; 
} */

.pagination > li > a
{
    background-color: white;
    color: black;
    margin-left: 20px;
}

.pagination > li > a:focus,
.pagination > li > a:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: grey;
}

.counter {
    margin-top: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
  }
  
.counter div {
    text-align: center;
}
  
.control {
    min-width: 25px;
}

.links-question {
    display: inline-block;
    margin-top: 20px;
}

.form-control.is-valid {
    height: 50px;
}

.form-control.is-invalid {
    height: 50px;
}

.form-control.non-validation {
    height: 50px;
}

/* .form-floating {
    margin-top: 20px;
} */

.ask-form {
    width: 7900px;
    display: inline-block;
}

.ask-form label {

    margin-right: 30px;
    float:left;
}

.ask-form input {
    height: 20px;
    width: 500px;
    border: 1px solid #000;
    margin-top: 20px;
}

.ask-form textarea {
    height: 400px;
    width: 500px;
    border: 1px solid #000;
    margin-top: 20px;
}

.btn-ask-question {
    margin: 0px 60px;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    color: black;
    width: 100px;
    height: 40px;
}

#formFile {
    height: 38px;
}

.chouse-file img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 2px solid black;
    overflow: hidden;
}

.question-to-answer {

    margin-bottom: 20px;
}

.btn-answer {
    margin-bottom: 20px;
}