{% load static %}
<div class="question">
    <div class="row">
      <div class="col-3">
        <div class="avatar">
          <img src="{% static 'img/avatar_1.png' %}"alt="" />
        </div>
        <div class='counter'>
          <div id='display3'>5</div>
          <div class='control'>
            <button id='plus' onclick='counter_add()'>
              +
            </button>
            <button id='minus' onclick='counter_minus()'>
              -
            </button>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="question-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nulla ipsum, vitae natus ipsa
        </div>

        <label>
          <input type="checkbox" class="radio" value="1" name="fooby[1][]" /> Correct!</label>
        <label>
      </div>
    </div>
  </div>