


{% extends "base.html" %}
{% load static %}


{% block content %}
    {% with 'true' as full %}
        {% include "inc/question_card.html" %}
    {% endwith %}
    {% for answer in answers %}
        {% include "inc/answer.html" %}
    {% empty %}
        <div class=" fs-5"> No one has answered yet:(</div>
    {% endfor %}

    {% with answers as page_obj %}
        {% include "inc/pager.html" %}
    {% endwith %}

    <br>
    <hr>
    <form action="/question/{{ question.id }}/" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3 mt-5 new_answer">
                <label for="{{ field.id_for_label }}" class="form-label">
                    {{ field.label }}:
                </label>
                <br>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-info answ_but">Answer!</button>
    </form>

{% endblock content %}
