<div class="right-col">
    <div class="popular-tags">
        <h4>Popular tags</h4>
        <div class="tags">
            <a id="perl" href="">perl</a>
            <a id="python" href="">python</a>
            <a id="TechnoPark" href="">TechnoPark</a>
            <a id="MySQL" href="">MySQL</a>
            <a id="django" href="">django</a>
            <a id="Swift" href="">Swift</a>
            <a id="Mailru" href="">Mail.ru</a>
            <a id="Firefox" href="">Firefox</a>
        </div>
    </div>
    <div class="best-members">
        <h4>Best members</h4>
        <div class="members">
            <dl>
                <dt>
                    <a id="freeman" href="">Mr.Freeman</a>
                </dt>
                <dt>
                    <a id="drhouse" href="">Dr.House</a>
                </dt>
                <dt>
                    <a id="bender" href="">Bender</a>
                </dt>
                <dt>
                    <a id="queenV" href="">Queen Victoria</a>
                </dt>
            </dl>
        </div>
    </div>
</div>