

{% load static %}
<div class="row question ">
    <div class="col-3 ">
        <img class="mt-1 mb-4" style="width: 80px;" {% if question.author.profile.avatar%} src="{{ question.author.profile.avatar.url }}" {% else %} src="#" {% endif %} alt="">
        <div class="btn-group btn-group-sm fs-5">
            {{ question.likes.count }}
            <button type="button" class="btn btn-light">
                <img class=" " style="width: 20px; height: 20px; " src="{% static 'img/up.png' %} " alt="Rating Up ">
            </button>
            <button type="button" class="btn btn-light ">
                <img class=" " style="width: 20px; height: 20px; " src="{% static 'img/down.png' %} " alt="Rating Down ">
            </button>
        </div>
    </div>
    <div class="col-9 ">
        <a href="{{ question.get_absolute_url }}" class="fs-2">
            <h2>{{ question.title }}</h2>
        </a>
        {% if full == 'true' %}
            <div class="overflow-hidden">{{ question.content| linebreaks }}</div>
        {% else %}
            <div class="overflow-hidden">{{ question.content| linebreaks| truncatewords:40 }}</div>
        {% endif %}
        <br>
        <button type="button" class="btn btn-outline-dark mt-3">
            Answers <span class="badge">{{ question.answers.count }}</span>
        </button>
        <button type="button" class="btn btn-outline-dark mt-3">
            Tags:
            {% for tag in question.tag.all %}
                <span class="badge">{{ tag.tag }}</span>
            {% endfor %}

        </button>

    </div>
</div>