{% load app_tags %}

<div class="container mt-4 ">
    <div class="pt-5 pl-3 ">
        <h4 class="pb-2 ">Popular tags</h4>
        {% get_top_tags as top_tags %}
        <div class="position-relative text-center">
            {% for tag in top_tags %}
                <a href="{{ tag }}"><button type="button" class="btn opacity opacity-75 tag"> {{ tag.tag }} </button></a>
            {% endfor %}
        </div>
    </div>

    <div class="pt-5 pl-3 ">
        <h4 class="pb-2 ">Best Members</h4>
        {% get_top_users as top_users%}
        <ol class="list-group list-group-numbered text-center order-first">
            {% for user in top_users %}
                <li class="guru list-group-item"><a class="top-member" href="#">{{ user.user.username }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>
